@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;


body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 65px;
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

.project-container {
  position: relative;
  display: flex;
  background-color: $accent-gray;
  height: 70vh;
  width: 80vw;
  padding: 5vh 5vw 5vh 5vw;
}

.screenshot-container {
  background-color: $accent-red;
  height: 50vh;
  width: 50vw;
}

.iphone {
  background: $color-snow;
  border: solid 2px $color-silver;
  height: 500em;
  width: 260em;
  border-radius: 30em;
  position: absolute;
  margin: 0 auto;
  box-shadow: 0 3em 5em 0 rgba(50, 50, 50, 0.25);
  @include transition(all .4s $ease-in-circ);
}

.iphone-inner {
  background: $color-snow;
  border: solid 2px $color-silver-dark;
  height: 496px;
  width: 256px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
    .circ-button {
      background: $color-snow;
      border: solid 2px #3b3b3b;
      width: 36px;
      height: 36px;
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      top: 48px;
      cursor: pointer;
    }
  
  .small-top-circ {
    @include linear-gradient(#1f1f1f, #141414);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 6px;
    position: relative;
    margin: 0 auto;
  }
  
  .camera {
    @include linear-gradient(#1f1f1f, #141414);
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px $color-silver;
    top: 17px;
    left: 85px;
  }
  
  .oval {
    @include linear-gradient(#1f1f1f, #141414);
    width: 50px;
    height: 4px;
    top: 14px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: -12px;
    position: relative;
  }
}

.screen {
  position: relative;
  width: 230px;
  height: 400px;
  margin: 0 auto;
  top: 40px;
  overflow: hidden;
  @include linear-gradient(#1f1f1f, #141414);
  border: solid 2px #3b3b3b;@include transition(all .4s $ease-in-circ);
}

.project-info {
  background-color: $accent-blue;
}

.github-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.header {
  background-color: rgba(255,255,255, .55);
  /* remove the gradient */
  background-image: none !important;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .2);
  height: 70px;
  padding-top: 10px;
}

.header a {
  color: #7F7F7F;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

ul.nav{
  display:inline-flex;
}

