@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

$main-bg-color: #EEE9E9;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$project-container-color: #ece9df;

@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;

$header-text-color: white;
$header-background-color: rgba(0,76,90,.9);

$statistics-background-color: $color-snow;
$statistics-color: $accent-black;

body {
  background: $main-bg-color;    
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-top: 65px;
  @media only screen and (max-device-width: 600px) {
    font-size: 3rem;
  }
}

h2 {
  @media only screen and (max-device-width: 600px) {
    font-size: 5rem;
  } 
}


h3 {
  @media only screen and (max-device-width: 600px) {
    font-size: 4rem;
  } 
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: left;
}


.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $project-container-color;
  height: auto;
  width: 80vw;
  padding: 5vh 5vw 5vh 5vw;
  margin-bottom: 4vh;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.screenshot-container {
  margin-right: 4vw;
  height: auto;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.screenshot-container img {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.screenshot-container div {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.iphone {
  background: $color-snow;
  border: solid 2px $color-silver;
  height: 48vh;
  width: 25vh;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 2px rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
  position: absolute;
  right: 2em;
  top: 30vh;
  @media screen and (max-width: 1000px) {
    top: 20vh;
  }
  @media only screen and (max-device-width: 800px) {
    display: none;
  }
}

.iphone-inner {
  background: $color-snow;
  border: solid 2px $color-silver-dark;
  height: 48vh;
  width: 24vh;
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
    .circ-button {
      background: $color-snow;
      border: solid 2px #3b3b3b;
      width: 3vh;
      height: 3vh;
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      top: 30px;
      margin-top: .5vh;
      cursor: pointer;
    }

  .camera {
    @include linear-gradient(#1f1f1f, #141414);
    position: relative;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: solid 1px $color-silver;
    top: 1vh;
    margin-left: auto;
    margin-right: auto;
  }

  .oval {
    @include linear-gradient(#1f1f1f, #141414);
    width: 32px;
    height: 3px;
    top: 11px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: -9.6px;
    position: relative;
  }
}

.screen {
  position: relative;
  width: 22vh;
  height: 38vh;
  margin: 0 auto;
  top: 4vh;
  overflow: hidden;
  @include linear-gradient(#1f1f1f, #141414);
  border: solid 2px #3b3b3b;@include transition(all .4s $ease-in-circ);
}

.screen img {
  width: 21.5vh;
  height: 38vh;
}

.project-info {
  padding: 0 2vh 2vh 2vh;
  background-color: $color-snow;
  flex: 0 2 auto;
  height: 100%;
}

.github-info {
  margin: 5vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 5vh;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.header {
  background-color: $header-background-color;
  /* remove the gradient */
  background-image: none !important;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .2);
  padding-top: 10px;
}

.header a {
  color: $header-text-color;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.1em;
  margin-top: -5px;
}

ul.nav{
  display:inline-flex;
}

.nav-link{
  border-top: 4px solid transparent;
  transition: border-top .3s;
  &:hover{border-top: 4px solid dodgerblue;}
}

.hide-when-small {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.icon {
  font-size: 1.4em;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.footer_icon {
  height: 18px;
  width: auto;
  @media only screen and (max-device-width: 600px) {
    height: 5rem;
  }
}

.tech-icon-container {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech-icon {
  margin-left: 5px;
  height: 2em;
}

.statistics {
  background-color: $statistics-background-color;
  color: $statistics-color;
  width: 80vw;
  padding: 1vh 1vw 1vh 1vw; 
  margin-bottom: 2em;
}

.introduction {
  height: 40vh;
  background-color: $accent-gray;
}

.navbar-brand {
  line-height: normal;
  @media only screen and (max-device-width: 600px) {
    font-size: 3rem;
  } 
}