@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

@import "bourbon";
$color-snow: #fff;
$color-silver: #c5c5c5;
$color-silver-dark: #b4b4b4;


body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 65px;
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: left;
}


.project-container {
  position: relative;
  display: flex;
  background-color: $accent-gray;
  height: 70vh;
  width: 80vw;
  padding: 5vh 5vw 5vh 5vw;
}

.screenshot-container {
  background-color: $accent-red;
  margin-right: 6vw;
  height: 42vh;
  width: 38vw;
}

.iphone {
  background: $color-snow;
  border: solid 2px $color-silver;
  height: 48vh;
  width: 25vh;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.25);
  @include transition(all .4s $ease-in-circ);

  position: absolute;
  bottom: 5vh;
  left: 33vw;
}

.iphone-inner {
  background: $color-snow;
  border: solid 2px $color-silver-dark;
  height: 48vh;
  width: 24vh;
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  @include transition(all .4s $ease-in-circ);
    .circ-button {
      background: $color-snow;
      border: solid 2px #3b3b3b;
      width: 3vh;
      height: 3vh;
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      top: 30px;
      margin-top: .5vh;
      cursor: pointer;
    }
  
  .camera {
    @include linear-gradient(#1f1f1f, #141414);
    position: relative;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: solid 1px $color-silver;
    top: 1vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .oval {
    @include linear-gradient(#1f1f1f, #141414);
    width: 32px;
    height: 3px;
    top: 11px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: -9.6px;
    position: relative;
  }
}

.screen {
  position: relative;
  width: 22vh;
  height: 38vh;
  margin: 0 auto;
  top: 4vh;
  overflow: hidden;
  @include linear-gradient(#1f1f1f, #141414);
  border: solid 2px #3b3b3b;@include transition(all .4s $ease-in-circ);
}

.project-info {
  padding: 0 2vh 2vh 2vh;
  background-color: $color-snow;
}

.github-info {
  margin: 5vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 5vh;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.header {
  background-color: rgba(255,255,255, .55);
  /* remove the gradient */
  background-image: none !important;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .2);
  height: 45px;
  padding-top: 0px;
}

.header a {
  color: #7F7F7F;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

ul.nav{
  display:inline-flex;
}

.icon {
  height: 18px;
  width: auto;
}

